*{
    text-align: center;
    margin: 0 auto;
    list-style: none;
    padding: 4px;
}

footer{
    background-color: black;
    color: hsl(0, 0%, 100%);
    padding: 5%;
    clear: left;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
body{
    margin-left: 10%;
    margin-right: 10%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
ul{
    float: left;
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
main{
    clear: both;
}
article{
    width: 100%;
    float: left;
}
section{
    width: 45%;
    float: left;
}
nav{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
form {
    height: 600px;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #7ABA96;
    border-radius: 1em;
  }
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
textarea {
    vertical-align: top;
    height: 5em;
}


header img{
    width: 100%;
    clear: right;
}
li a:link, li a:visited {
    color: black;
    text-decoration: none;
  }
footer li ul a:link, footer li ul a:visited{
    color: white;
    text-decoration: none;
}
footer li ul a:hover {
    color: #7ABA96;
}
li a:hover {
    color: #7ABA96;
}
form li + li {
    margin-top: 1em;
}
input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  border-color: #000;
}

.radio div{
    width: 50%;
    display:inline-flex
}
.bordes{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}